body {
  background-color: white;
}
nav {
  height: 80px;
}

/* For the Login button */
.button-one {
  color: orangered;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 20px;
}

.button-one:hover {
  color: darkorange;
}

/* For the Register button */
.btn-orange {
  color: orangered;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-orange:hover {
  color: darkorange;
}
.navbar-brand {
  color: orangered;
}
.buttons {
  margin-right: 27px;
}
