<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: 0.5rem">
          <div class="row g-0" style="padding: 20px">
            <!-- Update with seller's name and role -->
            <h5>{{ userProfile.firstName }} {{ userProfile.lastName }}</h5>
          </div>
          <div class="col-md-8">
            <div class="card-body p-4">
              <h6>Information</h6>
              <hr class="mt-0 mb-4" />
              <div class="row pt-1">
                <div class="col-6 mb-3">
                  <h6>Email</h6>
                  <!-- Update with seller's email -->
                  <p class="text-muted">{{ userProfile.email }}</p>
                </div>
                <div class="col-6 mb-3">
                  <h6>Phone</h6>
                  <!-- Update with seller's phone -->
                  <p class="text-muted">{{ userProfile.phone }}</p>
                </div>
              </div>

              <hr class="mt-0 mb-4" />
              <div class="row pt-1">
                <div class="col-6 mb-3">
                  Blocked : {{ userProfile.isBlocked }}
                  <p class="text-muted"></p>
                </div>
              </div>
            </div>
            <!-- Add social media icons if necessary -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .gradient-custom {
    background: orangered;
    background: -webkit-linear-gradient(to right bottom, orangered, orangered);
    background: linear-gradient(
      to right bottom,
      orangered,
      rgba(253, 160, 133, 1)
    );
  }
</style>
