<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Rentina</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/sellers" routerLinkActive="active"
            >Sellers</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/pending-list"
            routerLinkActive="active"
            >Pending List</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users" routerLinkActive="active"
            >Users</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" style="padding: 100px">
  <h1
    class="orange-text text-center"
    style="padding: 20px; font-weight: 700; color: orangered"
  >
    Pending Approval
  </h1>
  <div class="table-responsive">
    <table
      class="table table-bordered table-striped table-hover"
      style="border-color: orangered; border: 2px solid orangered"
    >
      <thead>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Profile Image</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let seller of sellers">
          <td>{{ seller.firstName }}</td>
          <td>{{ seller.lastName }}</td>
          <td>{{ seller.email }}</td>
          <td>{{ seller.phone }}</td>
          <td>
            <img
              [src]="seller.profileImage"
              alt="Profile Image"
              style="max-width: 100px; max-height: 100px"
            />
          </td>
          <td>
            <button
              class="btn btn-success"
              style="
                color: white;
                background-color: orangered;
                border: 2px solid orangered;
                border-radius: 5px;
              "
              (click)="confirmApproval(seller._id)"
            >
              Approve Seller
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="no-sellers" *ngIf="sellers.length === 0">
      No sellers to list here.
    </div>
  </div>
</div>
