<div class="container mb-5 mt-3">
  <h5>Apartments To Rent</h5>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div
          class="col-md-3 mb-4 mt-3"
          *ngFor="let apartment of filteredProperties"
        >
          <div class="card" style="max-height: 500px; overflow: hidden">
            <img
              class="card-img-top"
              [src]="apartment.images[0]"
              alt="Apartment Image"
              style="height: 180px"
            />
            <div class="card-body">
              <h5
                class="card-title"
                style="font-weight: 500; color: rgb(3, 3, 63)"
              >
                {{ apartment.name }}
              </h5>
              <p class="card-text">{{ apartment.location }}</p>
              <p class="card-text text-truncate">
                {{ apartment.features }} | {{ apartment.type }}
              </p>
              <p class="card-text text-truncate p-0">
                {{ apartment.description }}
              </p>
              <hr />
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <span>RS:</span>
                  <span class="ml-1" style="font-weight: 600">
                    {{ apartment.price }}</span
                  >
                  <span>/-</span>
                </div>

                <button
                  class="btn btn-primary col-md-6"
                  type="button"
                  [routerLink]="['/user/apartment-details']"
                  [queryParams]="{ id: apartment._id }"
                >
                  Have a Look..
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
