.btn {
  color: white;
  background-color: orangered;
  border-color: orangered;
}
.btn:hover {
  transition: background-color 0.1s, color 0.1s; /* Specify which properties should transition and the duration */
  background-color: rgb(255, 255, 255);
  border-color: orangered;
  color: orangered; /* This line overrides the previous color: orangered; declaration */
}

body {
  background: #dfdddd;
  font-family: "Poppins", sans-serif;
}

.product-image {
  width: 100%;
}

.spec-1 {
  color: #938787;
  font-size: 15px;
}
h5 {
  font-weight: 400;
}
.para {
  font-size: 16px;
}
.image-overlay {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #eee;
}
.div-main {
  width: 800px;
  display: flex;
  height: 1500px;
  padding: 10px;
}
.card-height {
  max-height: 525px;
}
.card-img-top:hover {
  transition: transform 1s;
  transform: scale(1.1);
}
