<body
  class="custom-bg-color d-flex justify-content-center align-items-center bg-image"
>
  <div class="container bg-white col-md-10 rounded mb-8">
    <h1 class="mb-5 register-main-text">Sign Up</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="row justify-content-center">
        <div class="col-md-5 mb-2">
          <div class="form-group">
            <label for="firstName">First Name <span>*</span></label>
            <input
              type="text"
              class="form-control bg-input-color"
              id="firstName"
              formControlName="firstName"
              required
              placeholder="Enter first name"
            />
            <small
              class="text-danger"
              *ngIf="
                submitted &&
                registerForm.get('firstName')?.invalid &&
                registerForm.get('firstName')?.dirty
              "
            >
              Atleast 8 Characters
            </small>
          </div>
        </div>
        <div class="col-md-5 mb-2">
          <div class="form-group">
            <label for="lastName">Last Name <span>*</span></label>
            <input
              type="text"
              class="form-control bg-input-color"
              id="lastName"
              formControlName="lastName"
              required
              placeholder="Enter last name"
            />
            <small
              class="text-danger"
              *ngIf="
                submitted &&
                registerForm.get('lastName')?.invalid &&
                registerForm.get('lastName')?.dirty
              "
            >
              Atleast 2 Characters
            </small>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-5 mb-2">
          <div class="form-group">
            <label for="email">Email <span>*</span></label>
            <input
              type="email"
              class="form-control bg-input-color"
              id="email"
              formControlName="email"
              required
              placeholder="Enter email"
            />
            <small
              class="text-danger"
              *ngIf="
                submitted &&
                registerForm.get('email')?.invalid &&
                registerForm.get('email')?.dirty
              "
            >
              Please enter a valid email address
            </small>
          </div>
        </div>
        <div class="col-md-5 mb-2">
          <div class="form-group">
            <label for="phone">Phone Number <span>*</span></label>
            <input
              type="tel"
              class="form-control bg-input-color"
              id="phone"
              formControlName="phone"
              placeholder="Enter phone number"
            />
            <small
              class="text-danger"
              *ngIf="
                submitted &&
                registerForm.get('phone')?.invalid &&
                registerForm.get('phone')?.dirty
              "
            >
              Please enter a valid phone number
            </small>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-5 mb-2">
          <div class="form-group">
            <label for="password">Password <span>*</span></label>
            <input
              type="password"
              class="form-control bg-input-color"
              id="password"
              formControlName="password"
              required
              placeholder="Enter Password"
            />
            <small
              class="text-danger"
              *ngIf="
                submitted &&
                registerForm.get('password')?.invalid &&
                registerForm.get('password')?.dirty
              "
            >
              Password is required (min 8 characters , number , alphabet and
              special character)
            </small>
          </div>
        </div>
        <div class="col-md-5 mb-4">
          <div class="form-group">
            <label for="confirmPassword">Confirm Password <span>*</span></label>
            <input
              type="password"
              class="form-control bg-input-color"
              id="confirmPassword"
              formControlName="confirmPassword"
              required
              placeholder="Re-enter password"
            />
            <small
              class="text-danger"
              *ngIf="
                submitted &&
                (registerForm.get('confirmPassword')?.invalid ||
                  !registerForm.get('confirmPassword')?.value) &&
                registerForm.get('confirmPassword')?.dirty
              "
            >
              Passwords do not match or field is empty
            </small>
          </div>
        </div>
      </div>
      <p style="color: red">{{ msgg }}</p>
      <div class="d-flex justify-content-center">
        <button
          type="submit"
          class="btn btn-primary hover:btn-red hover:text-white d-flex col-md-4 d-flex justify-content-center"
        >
          Register
        </button>
      </div>
    </form>

    <p class="text-center mb-5">
      If you are already registered,
      <a [routerLink]="['/user-login']" class="text">click here</a> to log in.
    </p>
  </div>
</body>
