body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  max-height: 850px;
  font-family: Poppins, sans-serif;
}

.container {
  background-color: #f5f5f5; /* Adjust as needed */
  padding: 30px;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: rgb(0, 0, 41);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; /* Adjust border color as needed */
  border-radius: 4px; /* Adjust border style as needed */
}

.btn-primary {
  background-color: #ff5500; /* Adjust button color as needed */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

p {
  text-align: center;
  margin-top: 20px;
}

a {
  color: #007bff; /* Adjust link color as needed */
  text-decoration: none;
}
.custom-bg-color {
  background-color: rgb(
    203,
    56,
    3
  ); /* Replace with your desired background color */
  height: 1200px;
}
.text {
  color: #ff5500;
}
.bg-input-color {
  background-color: #fafafa;
}
input::placeholder {
  color: #9e9999;
  font-size: small;
}
span {
  color: red;
}
.register-main-text {
  color: #ff5500;
  font-size: 250%;
  font-weight: 600;
}
.bg-image {
  background-image: url("/assets/linedphoto-cGcHSGzSDoM-unsplash.jpg");
  background-size: cover;
  border-image: fill 0 linear-gradient(#0001, #000);
}

@media (max-width: 1440px) {
  .container {
    margin-bottom: -100px;
  }
}

@media (max-width: 767px) {
  .container {
    margin-bottom: -290px;
  }
}
@media (max-width: 767px) {
  body {
    max-height: 1300px;
  }
}
