<div class="container-fluid footer-container">
  <div
    class="row d-flex justify-content-center align-items-center"
    style="background-color: white"
  >
    <div class="col-md-auto text-orangered">
      <a href="#" class="text-orangered">Link 1</a>
      <a href="#" class="text-orangered">Link 2</a>
      <a href="#" class="text-orangered">Link 3</a>
    </div>
    <div class="col-md-auto text-orangered">
      <span class="text-orangered">&copy; 2024 Your Company Name</span>
    </div>
  </div>
</div>
