<section class="text-center" style="text-align: center">
  <!-- Background image -->
  <div
    class="p-5 bg-image"
    style="
      background-image: url('/assets/sean-pollock-PhYq704ffdA-unsplash.jpg');
      border-image: fill 0 linear-gradient(#0001, #000);
      background-size: cover;
      margin-left: -20px;
      height: 425px;
    "
  ></div>
  <!-- Background image -->

  <div class="container">
    <!-- Added container class -->
    <div class="card mx-auto shadow-5-strong d-flex" style="margin-top: -200px">
      <div class="card-body py-5 px-md-5">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">LOGIN</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-12 col-md-10 mb-2 mx-auto">
                  <!-- Adjusted column width -->
                  <label class="form-label" for="phoneNumber"
                    >Phone Number</label
                  >
                  <div class="form-outline">
                    <input
                      type="text"
                      id="phoneNumber"
                      class="form-control"
                      formControlName="phone"
                    />
                  </div>
                </div>
              </div>

              <!-- Password input -->
              <div class="row justify-content-center">
                <div class="col-12 col-md-10 mb-2 mx-auto">
                  <!-- Adjusted column width -->
                  <label class="form-label" for="password">Password</label>
                  <div class="form-outline mb-4">
                    <input
                      type="password"
                      id="password"
                      class="form-control"
                      formControlName="password"
                    />
                  </div>
                </div>
              </div>

              <!-- Submit button -->
              <button
                type="submit"
                class="btn btn-primary btn-block mb-3 custom-btn"
                style="
                  background-color: orangered;
                  border-color: orangered;
                  width: 100%;
                  max-width: 180px;
                  height: 40px;
                  font-weight: 700;
                "
              >
                LOGIN
              </button>

              <!-- Link to signup page -->
              <p>Not signed up? <a href="signup.html">Sign up here</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
