<section style="background-color: #eee">
  <div class="container py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10" style="height: 700px">
        <div class="card" id="chat1" style="border-radius: 15px; height: 500px">
          <div
            class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
            style="border-top-left-radius: 15px; border-top-right-radius: 15px"
          >
            <i class="fas fa-angle-left"></i>
            <p class="mb-0 fw-bold">Live chat</p>
            <i class="fas fa-times"></i>
          </div>

          <div
            class="d-flex flex-column justify-content-end"
            style="height: 100%"
          >
            <div
              *ngFor="let message of messages"
              class="d-flex flex-row mb-4"
              [ngClass]="{
                'justify-content-end': message.sender === userId.userId,
                'justify-content-start': message.sender !== userId.userId
              }"
            >
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                alt="avatar 1"
                style="width: 45px; height: 100%"
              />
              <div
                class="p-3 ms-3"
                style="
                  border-radius: 15px;
                  background-color: rgba(57, 192, 237, 0.2);
                "
              >
                <p class="small mb-0">{{ message.message }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="form-outline">
            <textarea
              class="form-control"
              id="textAreaExample"
              rows="4"
              [(ngModel)]="newMessage"
            ></textarea>

            <button class="btn btn-primary mt-2" (click)="sendMessage()">
              Send
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
